<div class="container mt-5">
  <h1>A simple web app</h1>
  <div class="orderForm">
    <h3> OrderBy: </h3>
    <select class="form-control" [(ngModel)]="orderKey" >
      <option [value]="col" *ngFor="let col of listKey" >{{col}}</option>
    </select>
    <select class="form-control" [(ngModel)]="order">
      <option value="ascending" >ascending</option>
      <option value="desending" >desending</option>
    </select>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Birthday</th>
        <th>Salary</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users ? (users | orderBy:orderKey:order) : []">
        <td> {{user.id}} </td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.birthday | date:"dd/MM/yyyy" }}</td>
        <td>{{user.salary}}</td>
        <td>{{user.phone | phonePipe}}</td>
      </tr>
    </tbody>
  </table>

</div>
