
<div class="container mt-5 list-exam">
  <div class="btn btn-primary small-btn" routerLink="/to-do-list/v1" > to-do-list/v1 </div>
  <div class="btn btn-primary small-btn" routerLink="/to-do-list/v2"> to-do-list/v2 </div>
  <div class="btn btn-primary small-btn" routerLink="/user-table"> user-table </div>
  <div class="btn btn-primary small-btn" routerLink="/mail"> mailApp </div>
  <div class="btn btn-primary small-btn" routerLink="/form/template"> template driven form </div>
  <div class="btn btn-primary small-btn" routerLink="/form/reactive"> reactive form </div>
  <div class="btn btn-primary small-btn" routerLink="/music-store"> music store </div>
  <div class="btn btn-primary small-btn" routerLink="/fa-tube"> FA-tube </div>
</div>
