/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modal-body {
  padding: 0 !important;
}

.modal.show .modal-dialog {
  margin-top: 10%;
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 800px !important;
  }
}
