#list-top-track{
    height: 510px;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 6rem;
    box-shadow: 2px 4px 7px 1px #cdcdcd;
    padding: 10px 5px;
    border-radius: 8px;

    
    .track{
        border: 1px solid #e1e1e1;
        border-radius: 7px;
        padding: 10px 15px;
        margin-bottom: 20px;
        box-shadow: 2px 4px 7px 1px #cdcdcd;
        .info{
            display: flex;
            flex-wrap: wrap;
            .name{
                margin-bottom: 8px;
                font-size: 20px;
                letter-spacing: 1px;
            }
            .field{
                width: 33.3%;
            }
            span{
                margin-right: 5px;
                font-weight: bold;
            }
        }

        .preview {
            padding-top: 20px;
        }
        audio {
            width: 100%;
        }
        audio::-webkit-media-controls-panel{
            border-radius: 5px ;
        }
    }
}
.keyWord{
    margin: auto;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
}