<div id="list-top-track">
  <div class="track" *ngFor="let track of listTracks">
    <div class="info">
      <div class="name w-100"><span>Track's name:</span> {{track.name}} </div>
      <div class="type field"><span>Type:</span> {{track.type}} </div>
      <div class="popula field"><span>Popularity:</span> {{track.popularity}} </div>
      <div class="Duration field"><span>Duration:</span> {{ musicS.millisToMinutesAndSeconds(track.duration_ms) }}
      </div>
    </div>
    <div class="preview">
      <audio controls *ngIf="track.preview_url">
        <source [src]="track.preview_url" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="noPre" *ngIf="!track.preview_url">
         No preview! please visit 
         <a target="_blank" [href]="track.external_urls?.spotify">
           here
         </a> 
         to play the song
        </div>
    </div>
  </div>
</div>
